@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #000;
}

.container .head {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.container .head img {
  width: 13%;
}

.container .head a {
  background-color: #e50914;
}

.banner {
  width: 100%;
  height: 100vh;
}

.banner:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 40px;
  z-index: 1;
  background: linear-gradient(to bottom, #000, transparent);
}

.banner:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 150px;
  z-index: 1;
  background: linear-gradient(to top, #000, transparent);
}

.banner .fit {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.banner .heading__container {
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.banner .heading__container .heading h2 {
  font-size: 3.125rem;
  letter-spacing: 2px;
  width: 85%;
}

.banner .heading__container .heading h5 {
  font-size: 1.625rem;
}

.banner .heading__container .heading p {
  font-size: 1.2rem;
}

.banner .heading__container .email__container input {
  font-size: 16px;
  border: 1px solid #8c8c8c;
  outline: none;
  padding: 10px;
  min-width: 400px;
  height: 60px;
}

.banner .heading__container .email__container a {
  letter-spacing: 0.1px;
  background-color: #e50914;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  font-size: 1.2rem;
  line-height: 60px;
  min-width: 310px;
}

.part__one {
  border-bottom: 0.6rem solid #111;
}

.part__one .text__container {
  width: 40%;
}

.part__one .text__container h1 {
  font-size: 3.3rem;
  letter-spacing: 2px;
}

.part__one .text__container p {
  font-size: 1.7rem;
}

.part__one .img__container {
  width: 45%;
}

.part__one .img__container img {
  width: 100%;
}

.part__two .text__container {
  width: 48%;
}

.list__container {
  width: 60%;
}

.list__container h1 {
  font-size: 3rem;
}

.title {
  background-color: #303030;
  font-size: 1.7rem;
  font-weight: 400;
}

.icon {
  width: 20px;
}

.icon::before,
.icon::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 3px;
  background: #fff;
  top: -1.5px;
}

.icon::after {
  transform: rotate(90deg);
  transition: 0.5s linear;
}

.text {
  background-color: #303030;
  line-height: 35px;
  font-size: 1.7rem;
  font-weight: 400;
  height: 0;
  opacity: 0;
}

.item:target .text {
  opacity: 1;
  height: auto;
  padding: 20px 30px;
  margin: 0;
  border-top: 2px solid #000;
  margin-bottom: 6px;
}

.item:target .icon::after {
  transform: rotateY(90deg);
}
